body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("img/stage.JPG");
  background-position: center bottom;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .addActionButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  background-size: cover;
  position: absolute;
  transition: linear;
}
.dancer.enlarge{
  transform: scale(2);
}
.dancer.disappear{
  opacity: 0;
}